<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Center</title>
</head>
<script src="/javascript/table2excel.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
<link rel="icon" href="/assets/favicon.png" type="image/gif" sizes="16x16">
<link rel="stylesheet" href="/stylesheet/navbar.css">
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<!-- <link rel="stylesheet" href="/bootstrap/css/bootstrap.css"> -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

<script>
    $(document).ready(function(){
        $('#icon').click(()=>{
            $('ul').toggleClass('show');
        });
    });
</script>
<body>
    <!-- <div class="navbar">
        <nav>
            <label for="" class="logo"><img id="brand" src="/assets/brand.png" alt=""></label>
            <ul>
                <li><a class="act" href="/">Home</a></li>
                <% if(currentUser){%>
                    <li><a href="#" class="act"> <%=currentUser %></a></li>
                    <li><a class="act" href="/login/logout">Logout</a></li>
                <%} else {%>
                    <li><a href="/login" class="act" >Login</a></li>
                <%}%>

            </ul>
            <label id="icon" for="">
                <i class="fas fa-bars"></i>
            </label>
        </nav> -->
        <nav class="navbar  fixed-top navbar-expand-lg navbar-dark ">
            
            <div class="container-fluid">
                <img class="navbar-brand" src="/assets/brand.png" width="200" height="65">

              <a class="navbar-brand page" href="#"><%=pagename%></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <div class="navbar-nav ml-auto right">
                        <a href="/" class="act nav-item nav-link" style="color: white;">Home</a>
                    <% if(currentUser){%>
                        <a href="#"  class="act nav-item nav-link" style="color: white;"> <%=currentUser %></a>
                        <a class="act nav-item nav-link " style="color: white;"  href="/login/logout">Logout</a>
                    <%} else {%>
                        <a href="/login" class="act nav-item nav-link" style="color: white;">Login</a>
                    <%}%>
                </div>
              </div>
            </div>
          </nav>
    </div>