<link rel="stylesheet" href="/stylesheet/sidenav.css">
<div class="sidenav">
    <a href="/institution"><button class="side-btn">Instution</button></a><br>
    <a href="/institution/courses"><button class="side-btn">Courses offered</button></a><br>
    <a href="/institution/other"><button class="side-btn">Other Details</button></a><br>
    <a href="/institution/programs"><button class="side-btn">Programs offered Year wise</button></a><br>
</div>