<link rel="stylesheet" href="/stylesheet/sidenav.css">
<div class="sidenav">
    <!-- <button id="generateExcel1" style="width: 100%;display: block;">Download</button><br>
    <% if(research) { %>
        <button style="display: block;" id="generateExcel2">Download Other</button> <br>

    <%}%>  -->
    <a href="/departments/<%=dept_name%>/new"><button class="side-btn">Insert</button></a><br>
    <a href="/departments/<%=dept_name%>/research"><button class="side-btn">Research</button></a>
    <br><a href="/departments/<%=dept_name%>"><button class="side-btn">Details</button></a><br>
    <a href="/departments"><button class="side-btn">Departments</button></a>  
</div>

<script src="/javascript/transpose.js"></script>
<script src="/javascript/downloadExcel.js" ></script>