<link rel="stylesheet" href="/stylesheet/details.css">
<div class="sidenav">
    <button id="generateExcel" style="width: 100%;font-size: 25px;
    color: brown;display: block;">Download</button>
    <br>
    <a href="/departments/<%=dept_name%>/new"><button>Insert</button></a><br>
    <a href="/departments/<%=dept_name%>/research"><button>research</button></a>
    <br><a href="/departments/<%=dept_name%>"><button>Departments</button></a>  
</div>