<link rel="stylesheet" href="/stylesheet/sidenav.css">

<div class="sidenav">
    <a href="/students"><button class="side-btn">Students</button></a><br>
    <a href="/students/outgoing"><button class="side-btn">Outgoing students</button></a>
    <br><a href="/students/exam"><button class="side-btn">Exams</button></a><br>
    <a href="/students/enrolled"><button class="side-btn">Students enrolled</button></a>  
</div>