<link rel="stylesheet" href="/stylesheet/sidenav.css">

<div class="sidenav">
    <a href="/teachers"><button class="side-btn">Teachers</button></a><br>
    <a href="/teachers/present"><button class="side-btn">Teachers working</button></a>
    <br><a href="/teachers/joined"><button class="side-btn">Teachers Joined</button></a><br>
    <a href="/teachers/left"><button class="side-btn">Teachers Left</button></a><br>
    <button type='button' class="side-btn" id="generateExcel">Download</button> <br/>

</div>