<link rel="stylesheet" href="/stylesheet/sidenav.css">

<div class="sidenav">
    <a href="/teachers"><button class="side-btn">Teachers</button></a><br>
    <a href="/teachers/present"><button class="side-btn">Teachers Presently working</button></a>
    <br><a href="/teachers/left"><button class="side-btn">Teachers Joined/Left</button></a><br>
</div>