<%- include("../partials/header") %>
<link rel="stylesheet" href="/stylesheet/Layout.css">
<link rel="stylesheet" href="/stylesheet/index.css">

<div class="content">
    <div class="cards">
        <div class="items">Courses offered by the institution</div>
        <a class="btn btn-lg btn-info" href="/institution/courses">More details</a>
    </div>
    <div class="cards">
        <div class="items">Other details</div>
        <a class="btn btn-lg btn-info" href="/institution/other">More details</a>
    </div>
    <div class="cards">
        <div class="items">Programs offered Year wise</div>
        <a class="btn btn-lg btn-info" href="/institution/programs">More details</a>
    </div>

</div>

<%- include("../partials/footer") %>