.cards{
    font-size: 1.25rem;
    width: 340px;
    height: 15rem;
    margin: 2rem calc(10%/8) ;
    border-radius: 2.5% 15%;
    display: inline-block;
    /* background: rgb(231, 75, 75); */
    background: linear-gradient(to left, #303c6c , #606faf);
    color: white;
    border: 2px solid rgb(65, 65, 65);  
    text-align: center;
    transition: border-color 0.2s , transform 0.2s, box-shadow 0.2s;
}
.cards:hover{
    transform: translateY(-10px);
    border-color: brown;
    box-shadow: 1em 1em 1em -0.4em grey;

}
.items{
    margin: 2rem 1.23rem;
    font-size: 1rem;
    font-weight: 700;
}
.a{
    padding: 1rem 1rem;
    text-decoration: none;
    color: white;
    background-color: rgb(68, 0, 255);
    border: 1px solid #000023;
    border-radius: 1em;
}
.sl{
    font-size: 2rem;
    margin-bottom: 1rem;
}