body{
    font-family: 'Roboto';
    font-weight: 300;
}
.heading{
    border: 3px solid blueviolet;
}        
td{
    border: 3px solid black;
    padding-left: 1em;
}
table{

border: 10px solid blueviolet;
border-collapse: collapse;
box-shadow: 1em 1em 1em -0.4em grey;

}

button{
    background-color: #151b29;
    color: yellow;
    border:2px solid yellow;
    width: 100%;
    font-size: 0.9em;
    padding: 0.5em 1em;
    outline: none;
    border-radius: 0px;
    transition: border-color 0.2s , transform 0.2s, box-shadow 0.2s, color 0.2s;
}
button:hover{
    color: whitesmoke;
    transform: translateY(-2px);
    border-color: greenyellow;
    box-shadow: 0 0.5em 0.5em -0.4em greenyellow;
    cursor: pointer;
}
button:active{
    background-color: green;
}


.content{
    width: 85%;
    position: absolute;
    top: 7.5em;
    left: 15em;
}