.content{
    width: 85%;
    position: absolute;
    top: 7.5em;
    left: 5em;
    margin: 50px;
    margin-bottom: 2em;
    display: inline-block;
    
 
}
.cards{
    font-size: 1.25rem;
    width: 330px;
    height: 450px;
    margin: 2rem calc(11%/8) ;
    display: inline-table; 
    background-color: rgba(246, 249, 253, 0.5);  
    border: 2px solid rgb(65, 65, 65);
    text-align: center;
    transition: all 0.3s;
    position: rel;
}

.a{
    font-size: 1.2rem;
    padding: 1rem 1rem;
    color: rgb(3, 3, 3);
    /* background-color: rgb(239, 237, 243); */
    background-color: whitesmoke;
    border: 1px solid #000023;   
    transition: all 0.3s;
    position: relative;
}
.a:hover{
    /* color: rgb(250, 246, 246); */
    color: whitesmoke;
    background-color: rgba(3, 3, 3, 0.616);    
    border-width: 0.1em;
}



.items{
    font-size: 2em;
    text-decoration: underline;
    font-weight: bold;
    display: inline;
}

body{
    background-image:url("/assets/rit.jpeg");
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size:cover; 
    background-position: center center;
}

.listbody{
list-style: none;
    margin: 10%;
  }
  
.listitem{
    font-size: 1.5em;
    font-weight: 500;
    padding: 0.25em;
    text-align:start;
    display: inline-block;
  }
  
.listitem:before {
    content: "➡";
    padding-right: 5px;
  } 

#icons{
    width: 30px;
    height: 30px;
    top: 7px;
    position: relative;
    display: inline;
}
#icons2{
    width: 30px;
    height: 30px;
    top: 10px;
    position: relative;
    display: inline;
}
/* .container{
    margin:20px auto;
    padding-bottom: 20em;
    max-width: 1500px;
    max-height: 300px;
}
.square{
    width: 20%;
    margin-bottom: 10em;
    max-height: 0;
    background: white;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 5%;
} */
.card{
    /* background-color: whitesmoke; */
    background-color: whitesmoke ;
    margin:20px 1%;
    height: 20rem;
    font-size: 1.5em;

}
.card-title{
    border-bottom: 3px solid black;
}
.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
h1{
    /* background-color: whitesmoke; */
    background: linear-gradient(to left, rgba(255, 255, 255, 0.815) , rgba(245, 245, 245, 0.918));
    color: black;
    width:25%;
    margin: 20px auto;
    border-radius: 5px;
}
.headings{
    text-align: center;
}
