.sidenav {
  height: 120vh; /* Full-height: remove this if you want "auto" height */
  width: 10em; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 2;  
  top: 5em;
  left: 0;
  /* background-color:#445592; */
  background-color: #c75;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  padding-left: 2px;
  padding-right: 2px;
  /* box-shadow: 1em 1em 1em -0.4em grey; */

}

/* The navigation menu links */
.sidenav a {
  width: 100%;
  text-decoration:none;
  display: block;
}

.side-btn{
  font-weight: bold;
  margin: 0;
  background-color: #e7ebec;
  /* background-color: rgb(151 115 149); */
  border:2px solid #303c6c;
  width: 100%;
  font-size: 0.9em;
  padding: 0.5em 1em;
  outline: none;
  border-radius: 0px;
  transition: all 0.3s ;
}
.side-btn:hover{
  transform: translateY(-2px);
  border-color: #0a0301;
  box-shadow: 0 0.4em 0.4em -0.4em #040930;
  cursor: pointer;
}
.side-btn:active{
  background-color: green;
}
/* @media(max-width:600px){
.sidenav{
  width: 2em;
}
} */
/* When you mouse over the navigation links, change their color */
/* .sidenav a button:hover {
  color: black;
} */

/* Style page content */
 /* .main {
  margin-left: 160px; 
  padding: 0px 10px;
}   */

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
/* @media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}  */

/* button
{
  padding: 6px 6px 6px 10px;
  
  margin: 20px 20px 20px 20px;
  text-decoration:none;
  font-size: 25px;
  color: brown;
  display: inline;
} */