.example-table{
    border-collapse: collapse;
    border:3px solid black;
    width: 70rem;
    padding: 10px;
    position:relative;
    margin: 0em 10em;    
    max-width: 95%;
    box-shadow: 1em 1em 1em -0.4em grey;
    /* background: #f4976c; */
    background-color: rgb(218 139 63);
    
}

.example-table td,.example-table tr{
    border:3px solid black;
    padding: 10px;
}
.example-table thead {
    background-color: #303c6c;
    color: white;
    font-weight: 700;
    font-size: 1.5em;
}
@media (max-width:1300px) {
    .example-table{
        width:50rem;
       margin-left:0;
    }
    .example-table td,.example-table tr{
        width:20px;
    }
    .container{
        width:30rem;
        padding:10em

    }

}   
.formnav {
    border-collapse: collapse;
    border:3px solid black;
    width: 70rem;
    padding: 10px;
    position:relative;
    margin: 0em 10em; 
    background-color: #303c6c;   
    max-width: 95%;
    box-shadow: 1em 1em 1em -0.4em grey;
  }
 
  
  