<%- include("partials/header") %>
<style>
  p{
    font-size: 20px;
  }
  .card{
    height: max-content;
  }
</style>
<link rel="stylesheet" href="/stylesheet/Home.css">


<div class="content">

<div class="headings"><h1>Home Page</h1></div>
<div class="container">
    
    <div class="card" style="width: 18rem; height: max-content;">
        <div class="card-body">
          <h2 class="card-title">Department</h2>
          <h6 class="card-subtitle mb-2 text-muted"> </h6>
          <p class="card-text">Details and information about the different activities in the department for the last 5 years.</p>
          <a href="/departments" class="card-link btn btn-lg btn-primary">View</a>
        </div>
      </div>
      <div class="card" style="width: 18rem; height: max-content;">
        <div class="card-body">
          <h2 class="card-title">Students</h2>
          <h6 class="card-subtitle mb-2 text-muted"></h6>
          <p class="card-text">Student details such as students appearing in exam, enrolled year wise and outgoing students.</p>
          <a href="/students" class="card-link btn btn-lg btn-primary">View</a>
        </div>
      </div>
      <div class="card" style="width: 18rem; height: max-content;">
        <div class="card-body">
          <h2 class="card-title">Institution</h2>
          <p class="card-text">The institution details such as courses offered and different programs and its offering year.</p>
          <a href="/institution" class="card-link btn btn-lg btn-primary">view</a>
        </div>
      </div>
      <div class="card" style="width: 18rem; height: max-content;">
        <div class="card-body">
          <h2 class="card-title">Teachers</h2>
          <p class="card-text">Teacher details which has list of teachers currently working, teachers who joined or left the institution.</p>
          <a href="/teachers" class="card-link btn btn-lg btn-primary">view</a>
        </div>
      </div>

</div>
<!-- <div class="cards">
    <div class="items">Departments</div>
    <div class="para">
        <ul class="listbody">
            <li class="listitem">Department-wise details</li>
            <li class="listitem">Research Associates</li>
            <li class="listitem">Insert new data</li>
        </ul>
        
    </div>
    <div> <a class="a" href="/departments/">View</a></div>
    
</div>

<div class="cards">
    <div class="items">Students</div>
    <div class="para">
        <ul class="listbody">
            <li class="listitem">Outgoing Students</li>
            <li class="listitem">Students appeared in exam</li> 
            <li class="listitem">Enrolled Students</li>
        </ul>
    </div>
    <div> <a class="a" href="/students/">View</a></div>
</div>

<div class="cards">
    <div class="items">Teachers</div>
    <div class="para">
        <ul class="listbody">
            <li class="listitem">Teachers currently working</li>
            <li class="listitem">teachers who have Left </li>
        </ul>
    </div>
    <div> <a class="a" href="/teachers/">View</a></div>
</div>

<div class="cards">
    <div class="items">Institution</div>
    
        <ul class="listbody">
            <li class="listitem">Courses Offered and Programs Offered</li>
            <li class="listitem">Applications received for admissions</li>
            <li class="listitem">Sanctioned Posts and Seats Earmarked</li>
        </ul>
    
    <div> <a class="a" href="/institution/">View</a></div>
</div> -->

</div>
<%- include("partials/footer") %>