<%- include("partials/header") %>
<link rel="stylesheet" href="/stylesheet/home.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="content">
    <div class="homepage"><h1>Home Page</h1>
    <br>

    <div>
    <a href="/departments/"><button>Departments</button></a><br><br>
    <a href="/students/"><button>Students</button></a><br><br>
    <a href="/teachers/"><button>Teachers</button></a><br><br>
    <a href="/institution/"><button>Institution</button></a>
    </div>
    </div>


</div>
<%- include("partials/footer") %>
