<%- include("partials/header") %>
<link rel="stylesheet" href="/stylesheet/Home.css">

<div class="content">

<div class="headings"><h1>Home Page</h1></div>

<div class="cards">
    <div class="items">Departments</div>
    <div class="para">
        <ul class="listbody">
            <li class="listitem">Department-wise details</li>
            <li class="listitem">Research Associates</li>
            <li class="listitem">Insert new data</li>
        </ul>
        
    </div>
    <div> <a class="a" href="/departments/">View</a></div>
    
</div>

<div class="cards">
    <div class="items">Students</div>
    <div class="para">
        <ul class="listbody">
            <li class="listitem">Outgoing Students</li>
            <li class="listitem">Students appeared in exam</li> 
            <li class="listitem">Enrolled Students</li>
        </ul>
    </div>
    <div> <a class="a" href="/students/">View</a></div>
</div>

<div class="cards">
    <div class="items">Teachers</div>
    <div class="para">
        <ul class="listbody">
            <li class="listitem">Teachers currently working</li>
            <li class="listitem">teachers who have Left </li>
        </ul>
    </div>
    <div> <a class="a" href="/teachers/">View</a></div>
</div>

<div class="cards">
    <div class="items">Institution</div>
    
        <ul class="listbody">
            <li class="listitem">Courses Offered and Programs Offered</li>
            <li class="listitem">Applications received for admissions</li>
            <li class="listitem">Sanctioned Posts and Seats Earmarked</li>
        </ul>
    
    <div> <a class="a" href="/institution/">View</a></div>
</div>

</div>
<%- include("partials/footer") %>