<%- include("./partials/header") %>
<link rel="stylesheet" href="/stylesheet/details.css">

<style>
    .container-sm{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 400px;
        background-color: black;
        border-radius: 15px;
        color: white;
        padding: 2em;
    }
    .form input,.form select{
        border-radius: 7px;
        height: 35px;
    }
</style>
<div class="content">
    <div class="container-sm">
        <form class="form" action="/login" method="POST" >
            <div class="mb-3">
                <label for="emailId" class="form-label">Email id: </label>
    
                <input  id="emailId" class="form-control" type="email" name="emailId">
            </div>
            <div class="mb-3">
                <label class="form-label" for="password">Password: </label>
                <input class="form-control" type="password" name="password" id="password">
    
            </div>

                <button class="btn btn-primary">Submit</button>
        
        </form>
        
    </div>
</div>

<%- include("./partials/footer") %>