<%- include("../partials/header") %>
<link rel="stylesheet" href="/stylesheet/studentLayout.css">
<link rel="stylesheet" href="/stylesheet/index.css">

<div class="content">
    <div class="cards"><br>
        <div class="items">Outgoing Students</div><br>
        <a class="a items" href="/students/outgoing">More details</a>
    </div>
    <div class="cards"><br>
        <div class="items">Students appeared in Exam</div><br>
        <a class="a items" href="/students/exam">More details</a>
    </div>
    <div class="cards"><br>
        <div class="items">Students Enrolled</div><br>
        <a class="a items" href="/students/enrolled">More details</a>
    </div>
</div>

<%- include("../partials/footer") %>