<%- include("../partials/header") %>



<form action="/departments/<%=dept_name%>" method="POST" enctype="multipart/form-data">
    <input type="file" name="excel">
        <input type="submit">

</form>


<%- include("../partials/footer") %>
