<%- include("../partials/header") %>
<%- include("../partials/sidenav") %>

<link rel="stylesheet" href="/stylesheet/details.css">

<style>
    .form{
        display: flex;
        justify-content: center;
    }
</style>
<div class="content">
    <form class="form" action="/departments/<%=dept_name%>" method="POST" enctype="multipart/form-data">
        <input type="file" name="excel">
            <button>Submit</button>
    
    </form>
    
</div>

<%- include("../partials/footer") %>
