.query-form {
    font-size: 1.7em;
    color: white;
    background: #c30;
    padding: 1em 1em;
  }
 
  .ug {
    display: none;
  }
  .pg {
    display: none;
  }
  .heading{
      font-weight: 700;
      font-size: 1.5rem;
      background-color: #303c6c;
      color: white;
  }
  td{
      width: 30rem;
    border: 3px solid black;
    padding-left: 1em;
}
table{
    /* background-color: #f4976c; */
    /* background-color: rgb(218 139 63); */
    background-color: #f6f6f6;
    /* background-color: white; */
    width: 100%;
border-collapse: collapse;
box-shadow: 1em 1em 1em -0.4em grey;

}
.modal{
  color:black;
}
