<%- include("../partials/header") %>
<link rel="stylesheet" href="/stylesheet/Layout.css">
<link rel="stylesheet" href="/stylesheet/index.css">

<div class="content">
    <div class="cards">
        <div class="items">Teachers who are presently working</div>
        <a class="btn btn-lg btn-info" href="/teachers/present">More details</a>
    </div>
    <div class="cards">
        <div class="items">Teachers who left the institution</div>
        <a class="btn btn-lg btn-info" href="/teachers/left">More details</a>
    </div>
    <div class="cards">
        <div class="items">Teachers who joined the institution</div>
        <a class="btn btn-lg btn-info" href="/teachers/joined">More details</a>
    </div>

</div>

<%- include("../partials/footer") %>